<configuration>

    <property name="charset" value="UTF-8"/>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/techdev/trackr-backend/logs/trackr-backend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/techdev/trackr-backend/logs/trackr-backend_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${charset}</charset>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- show hibernate sql with debug -->
    <logger name="org.hibernate.SQL" level="info"/>
    <!-- show bound hibernate parameters with trace -->
    <logger name="org.hibernate.type" level="info"/>

    <logger name="org.springframework.web" level="info"/>

    <logger name="org.springframework.data.rest" level="info"/>

    <logger name="org.springframework.security" level="info"/>

    <logger name="de.techdev" level="debug"/>

    <root level="warn">
        <appender-ref ref="FILE"/>
    </root>

</configuration>